.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0ab1a0;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.link{
        text-decoration: none;
      
}