.views{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pages{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 18.8em;
}