.wrapper {
    width: 50vw;
    text-align: right;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper {
    margin: 0 auto;
  }
  .pwd-checker-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 35%;
    height: 10px;
    margin: auto;
  }
  .pwd-checker-bar::-webkit-progress-bar {
    background-color: rgb(246, 241, 241);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .pwd-label {
    font-size: 22px;
  }
  .pwd-checker-bar::-webkit-progress-value {
    border-radius: 4px;
    background-size: 30px 18px, 100% 100%, 100% 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  .label {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .strength-חלש::-webkit-progress-value {
    background-color: #e20b07;
  }
  .strength-בסדר::-webkit-progress-value {
    background-color: #ebbd04;
  }
  .strength-טוב::-webkit-progress-value {
    background-color: #0b75ed;
  }
  .strength-חזק::-webkit-progress-value {
    background-color: #01a917;
  }
  .חלש span {
    color: #e20b07;
  }
  .strength-בסדר span {
    color: #ebbd04;
  }
  .strength-טוב span {
    color: #0b75ed;
  }
  .strength-חזק span {
    color: #01a917;
  }