.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: #0ab1a0;
    width: 100vw;
    /* background-color: rgba(6,179,163,255); */
    font-family: 'Amatic SC'
}

.detail{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    font-family: 'Amatic SC'
}

a{
    color:rgba(230,37,98,255);
    font-weight: bolder;
}
a:hover {
    color: magenta;
  }

  a:active {
    color: purple;
  }