.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: #0ab1a0;
    width: 100vw;
}

.detail{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

a{
    color:blue
}
a:hover {
    color: magenta;
  }

  a:active {
    color: purple;
  }